:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color: whitesmoke; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  /* background: rgb(6, 6, 80);
  background: linear-gradient(90deg, rgb(1, 1, 59) 30%, rgb(82, 117, 136) 50%, rgb(1, 1, 59) 70%); */
  /* background: rgb(6, 6, 80);
  background: linear-gradient(90deg, rgba(6, 6, 80, 1) 30%, rgba(120, 169, 196, 1) 50%, rgba(6, 6, 80, 1) 70%); */
  /* font-size: 18px; */
}

/* :root {
  --color-primary: #1C1856;
  --color-secondary: aquamarine;
  --color-bg: #cfe2f1;
  --color-section: white;
  --color-table-head: #F8F1FD;
  --color-table-alternate: #fcf8ff;
  --color-border: #e1e1e1;
  --border-radius: 8px;
} */

/* :root {
  --color-primary: #1c232d;
  --color-secondary: aquamarine;
  --color-bg: #161b21;
  --color-section: #1c232d;
  --color-table-head: #071222;
  --color-table-alternate: #151e2a;
  --color-border: #e1e1e1;
  --border-radius: 8px;
} */
#light {
  color: #161616;
  --color-primary: #1C1856;
  --color-secondary: aquamarine;
  --color-bg: #cfe2f1;
  --color-section: white;
  --color-table-head: #F8F1FD;
  --color-table-alternate: #fcf8ff;
  --color-border: #e1e1e1;
  --border-radius: 8px;
  --color-shadow: grey;
}

#dark {
  color: whitesmoke;
  --color-primary: #1c232d;
  --color-secondary: aquamarine;
  --color-bg: #161b21;
  --color-section: #1c232d;
  --color-table-head: #071222;
  --color-table-alternate: #151e2a;
  --color-border: #e1e1e1;
  --border-radius: 8px;
  --color-shadow: #2e3444;
}

html,
body {
  min-height: 100vh;
}

.chart-c .recharts-legend-wrapper {
  bottom: 30% !important;
  max-width: 90% !important;
  margin: 0px auto !important;
}